@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(199, 214, 221);
  height: 100vh;
}

* {
  font-family: "Gowun Dodum", sans-serif;
}
